{% load static %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Přihlášení</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/carlogo.png' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-links" id="nav-links">
          <li><a href="{% url 'index' %}">Domů</a></li>
          <li><a href="{% url 'register' %}">Registrace</a></li>
        </ul>
      </nav>

    <h1>Přihlas se pro přístup k našim službám.</h1>

    <form method="post">
        {% csrf_token %}
        <label for="username">Uživatelské jméno:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Heslo:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Přihlásit se</button>
    </form>

    <footer>
        <div class="footer-info">
          <p><strong>Adresa:</strong> Ulice 123, 746 01 Opava</p>
          <p><strong>Otevírací doba:</strong> Po–Pá: 8:00–17:00 | So: 8:00–12:00 | Ne: Zavřeno</p>
          <p><strong>Kontakt:</strong> info@autoopravnabittner.cz | Tel: +420 123 456 789</p>
          <p>&copy; 2025 Autoopravna Bittner. Všechna práva vyhrazena.</p>
        </div>
        <script src="{% static 'js/script.js' %}"></script>
      </footer>
</body>
</html>

