{% load static %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Rezervace opravy</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/carlogo.png' %}">
    <link rel="stylesheet" href="{% static 'css/reservation.css' %}">
</head>
<body>
    <nav class="navbar">
        
        <div class="logo">
            <img src="{% static 'img/CRlogo.png' %}" alt="Logo" class="logo-img">
        </div>

        <ul class="nav-links" id="nav-links">
            <li><a href="/">Domů</a></li>
            <li><a href="/logout">Odhlásit se</a></li>
        </ul>
    </nav>

    <div class="admin-container">
        <main class="admin-main">
            <h1>Rezervovat opravu</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-submit">Odeslat rezervaci</button>
            </form>
        </main>
    </div>

    <footer>
        <div class="footer-info">
          <p><strong>Adresa:</strong> Ulice 123, 746 01 Opava</p>
          <p><strong>Otevírací doba:</strong> Po–Pá: 8:00–17:00 | So: 8:00–12:00 | Ne: Zavřeno</p>
          <p><strong>Kontakt:</strong> info@autoopravnabittner.cz | Tel: +420 123 456 789</p>
          <p>&copy; 2025 Autoopravna Bittner. Všechna práva vyhrazena.</p>
        </div>
        <script src="{% static 'js/script.js' %}"></script>
      </footer>
</body>
</html>
